<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>  
    <h2>Edit your post</h2>
    <p>item id : <%= item.id  %> </p>
    <p>ITEM name: @<%= item.name  %> </p>
    <form action="/home/<%= item.id%>?_method=PATCH" method="post">
     <textarea name="content" id="content" rows="10" cols="40"><%= item.content %></textarea>
     <textarea name="content" id="content" rows="10" cols="40"><%= item.additionalInformation %></textarea>
     <button type="submit">Submit</button>
    </form>
</body>
</html> 